body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
header,footer{
    background-color: #3baea0;
    color:   black;
    padding: 10px;
}
header:hover{
    background-color: pink;
    border-radius: 40px;
}
footer:hover{
    background-color: pink;
    border-radius: 40px;

}
.main-banner{
    padding: 20px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
}
.container{
    width: 60%;
    margin: auto;
    padding: 10px;

}
.section{
    margin: 20px, 0;
    padding: 20px;
    border-radius:  5px;
    box-shadow: 0px 0px 5px black;
}
.section img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.link-1{
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 20px;
}
.link-2{
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 20px;
    
}
.link-3{
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 20px;
}
.link-1:hover{
    background-color: tomato;
    border-radius: 20px;
    transition: 2s;
}
.link-3:hover{
    background-color: tomato;
    border-radius: 20px;
    transition: 2s;
}
.link-2:hover{
    background-color: tomato;
    border-radius: 20px;
    transition: 2s;
}
.footer{
    font-family: 'Times New Roman', Times, serif;
    
}